@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui;
  
  --color-brand-accent: #aa3bff;
  --color-brand-pink: #ff85b2;
}

@layer base {
  body {
    @apply font-sans antialiased;
  }
  
  h1, h2, h3, h4 {
    @apply font-extrabold tracking-tighter;
  }
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 6px; 
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a855f7; 
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
}

html {
  scroll-behavior: smooth;
}